/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-face: IBM Plex mono, monospace;
  --accent-color: 255, 0, 112;
  --headline-color: #db00ff;
  --background-color: 0, 0, 40;
  --subheader-color: var(--background-color);
  --text-color: 241, 178, 206;
  --button-border-alpha: 0.4;
  --page-margin: 10px;
}
