/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-face: IBM Plex mono, monospace;
  --accent-color: 255, 0, 112;
  --headline-color: #db00ff;
  --background-color:#000028;
  --text-color: #f1b2ce;
  --button-border-alpha: 0.4;
}
